.text-container {
    $margin: 2rem;

    margin-right: $margin;
    margin-left: $margin;

    @media screen and (min-width: $tablet) {
        $margin: 10%;

        margin-right: $margin;
        margin-left: $margin;
    }

    @media screen and (min-width: $laptop-l) {
        $margin: 15%;

        margin-right: $margin;
        margin-left: $margin;
    }
}

.text-container .section-title {
    @media screen and (min-width: $tablet) {
        text-align: center;
    }
}

.section-padding {
    padding: 1em 0;
}
