.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $dark-blue;
    position: sticky;
    top: 0;
    padding: 0.3em 0;
    z-index: 100;

    @media screen and (min-width: $laptop) {
        display: block;
    }
}

#nav-items {
    display: flex;
    justify-content: space-between;

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        padding: 0;

        @media screen and (min-width: $laptop) {
            justify-content: space-between;
        }
    }

    @media screen and (min-width: $tablet) {
        div {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1em;
        }
    }
}

.nav-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.nav-brand {
    font-size: 1.1rem;

    @media screen and (min-width: $tablet) {
        font-size: 1.5rem;
    }

    @media screen and (min-width: $laptop) {
        font-size: 1.3rem;
    }
}

.extend-navbar {
    flex-direction: column;
    align-items: center;

    ul {
        margin: 1em auto;
        flex-direction: column;
        gap: 1em;

        li {
            display: block;
        }
    }

    .dropdown-button::before {
        transform: rotate(-135deg);
    }
}

@media screen and (min-width: $wide-screen) {
    #nav-items {
        max-width: 2360px;
        margin: 0 auto;
    }
}
