.skillbar {
    height: 6px;
    width: 100%;
    margin: 0.3em 0;
    position: relative;
    background: linear-gradient(90deg,
            rgba(255, 0, 0, 1) 0%,
            rgba(255, 255, 0, 1) 50%,
            rgba(0, 255, 0, 1) 100%);

    &::before {
        content: '';
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
        right: 0;
        background-color: black;
    }
}

@for $i from 1 through 100 {
    $percentage: calc(100% - ($i * 1%));

    .skill-level-#{$i}::before {
        width: $percentage;
    }
}
