// Colors
$dark-blue: #092064;
$light-grey: #9da2ab;
$dark-grey: #1b1c1e;

// Breakpoints
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$wide-screen: 2560px;
