//colors
$dark-blue: #092064;
$light-grey: #9da2ab;
$dark-grey: #1b1c1e;
//screen sizes
$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptop-l: 1440px;
$ultra-wide-screen: 2560px;

html {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

h1 {
    display: block;
    font-size: 1.5em;
    margin-top: 0.83em;
    margin-bottom: 0.83em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

h3 {
    display: block;
    font-size: 1em;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

nav {
    background-color: $dark-blue;
    position: sticky;
    top: 0;
    padding: 0.3em 0;

    #nav-items {
        display: flex;
        justify-content: center;
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    li {
        display: none;
        text-align: center;
        margin: 0;
        padding: 5px 0.3em;
        border: 1px solid $light-grey;
    }
}

.extend-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        margin: 1em auto;
        flex-direction: column;
        gap: 1em;

        :first-child {
            border: none;
        }
    }

    li {
        display: block;
    }

    #nav-items {
        div {
            display: flex;
            justify-content: center;
        }
    }
}

#personal-data {
    background-color: $dark-grey;
    padding: 1em 5%;
}

#my-picture {
    display: flex;
    justify-content: center;
    align-items: center;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $dark-blue;
        height: 300px;
        width: 300px;
        border-radius: 50%;
    }
}

#bio {
    margin: 0 5%;
}

@media screen and (min-width: $tablet) {
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-top: 1em;
        margin-bottom: 1em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
    }

    nav {
        #nav-items {
            display: flex;

            ul {
                flex: 11;

                :first-child {
                    display: block;
                    border: none;
                }
            }

            div {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 1em;
            }
        }
    }

    #personal-data {
        display: flex;
        flex-direction: column;
        justify-content: center;

        #my-data {
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1,
            h3 {
                margin-left: 31%;
            }
        }
    }

    #bio {
        h1 {
            text-align: center;
        }
    }
}

@media screen and (min-width: $laptop) {
    nav {

        #nav-items {
            display: block;

            button {
                display: none;
            }
        }

        ul {
            justify-content: space-between;

            :first-child {
                border: 1px solid $light-grey;
            }
        }

        li {
            display: block;
        }
    }

    //needed to fix a bug when resizing screen from mobile to tablet and this class is active
    .extend-navbar {
        display: block;

        ul {
            flex-direction: row;
            margin: 0;
            gap: 0;
        }
    }

    #personal-data {
        flex-direction: row;
        gap: 5em;

        h1,
        h3 {
            margin-left: auto;
        }

        #my-data {
            display: block;
        }
    }
}
