//colors
$purple-violet: #4c3d4b;
$light-grey: #9da2ab;
//screen sizes
$mobile: 576px;
$mobile-big: 768px;
$tablet: 992px;
$desktop: 1200px;
$desktop-widescreen: 1400px;

html {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

nav {
    background-color: $purple-violet;
    position: sticky;

    div {
        position: relative;

        button {
            position: absolute;
            top: 12.5%;
            right: 0;
        }
    }

    ul {
        list-style-type: none;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;

        :first-child {
            display: block;
            border: none;
        }
    }

    li {
        display: none;
        text-align: center;
        margin: 0;
        padding: 5px 0.3em;
        border: 1px solid $light-grey;
    }
}

.extend-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
        margin: 1em auto;
        flex-direction: column;
        gap: 1em;
    }

    li {
        display: block;
    }

    button {
        position: static;
        margin: 0 auto;
    }
}

@media screen and (min-width: $mobile) {}

@media screen and (min-width: $mobile-big) {}

@media screen and (min-width: $tablet) {
    nav {

        div {
            display: block;

            button {
                display: none;
            }
        }

        ul {
            justify-content: space-between;

            :first-child {
                border: 1px solid $light-grey;
            }
        }

        li {
            display: block;
        }
    }

    //needed to fix a bug when resizing screen from mobile to tablet
    .extend-navbar {
        display: block;

        ul {
            flex-direction: row;
            margin: 0;
            gap: 0;
        }
    }
}

@media screen and (min-width: $desktop) {}

@media screen and (min-width: $desktop-widescreen) {}
